# exclude everything except the specific pattern
*

# pattern for files in root directory
!Makefile
!README.md
!LICENSE

# pattern for files in driver directory
!driver
driver/*
!driver/fs.c
!driver/inode.c
!driver/Makefile
!driver/super.c

# pattern for files in tool directory
!tool
tool/*
!tool/arguments.c
!tool/arguments.h
!tool/mkfs.c

# pattern for files in include directory
!include
include/*
!include/fs.h
!include/inode.h
!include/super.h
!include/yaf.h
