# exclude everything except the specific pattern
/*

# pattern for root directory
!Makefile
!README.md
!LICENSE

# patthern for driver directory
!driver/Makefile
!driver/yaf.c

# pattern for tool directory
!tool/mkfs.c
